<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{{title}}}</title>

        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
        <script type="text/javascript" src="/public/javascript/cloudinary.js"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/site.css">
    </head>
    <body>
        <main>
            {{{body}}}
        </main>
           <footer class="page-footer font-small blue pt-4">
            <div class="container-fluid1 text-center text-md-left">
                <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <p class="text-uppercase" id="landingh">ABOUT</p>
                    <p id="landingp">The main idea of the application to create a digital market to rent unused possessions to others who might have a temporary need for them, primarily technology and appliances. For example, if your laptop breaks and it will take a week to get repaired, you can rent someone's spare laptop for a week. Users can also post requests for an item if they do not see any vendors offering what they need at that time.
            .</p>
                </div>

                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3" id="col2">
                    <p class="text-uppercase">Authors</p>

                    <ul class="list-unstyled">
                    <li>
                        <p>Yue Pan</p>
                    </li>
                    <li>
                        <p>Tim Leonard</p>
                    </li>
                    <li>
                        <p>Haritha Pothapragda</p>
                    </li>
                    <li>
                        <p>Kah Soon Yap</p>
                    </li>
                    </ul>
                </div>

                <div class="col-md-3 mb-md-0 mb-3">
                    <p class="text-uppercase">Contact info</p>
                        <p>New York, NY 10012, US</p>
                        <p>info@example.com</p>
                        <p>+1 8888888888</p>
                </div>
            

                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="https://github.com/robertpanyue/Rent-App"> RentApp.com</a>
            </div>

            </footer>
        <script src="/public/javascript/tota11y.min.js"></script>
    </body>
</html>
