h3 {
	text-align: center;
	padding-top: 50px;
}

.mb-2 {
	margin-left: 10px;
}
<<<<<<< HEAD
#searchbar-form{
	
	
		position: absolute;
		width: 300px;
		height: 200px;
		z-index: 15;
		top: 50%;
		left: 50%;
		margin: -100px 0 0 -150px;
		text-align: center;
		font-size: 20px

}

=======
#searchbar-form {
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	text-align: center;
	font-size: 20px;
}
>>>>>>> 358e4079ee493f3afaf469c0849d16b24c8aa143
