<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">RentApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class=" nav navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link" id="tognav1" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<h1>{{title}}</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="container" class="container">
  <div class="cloudinary-images text-center" id="cloudinary-images">
    <table class="cloudinary-table" id="cloudinary-table">
      <tr>
        <td id="cloudinary-image-row"></td>
      <td id="x-button-row"></td>

      </tr>
      
    </table>
  </div>

  <div class="text-center">
    <button id="upload_widget" class="cloudinary-button">Click here to Upload Images</button>
  </div>
</div>

<a  class="btn btn-success" id="imglin" href="/">Finish Uploading</a><br/>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4" id="imgfoot">

  <!-- Footer Links -->
  <div class="container-fluid1 text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <p class="text-uppercase" id="landingh">ABOUT</p>
        <p id="landingp">The main idea of the application to create a digital market to rent unused possessions to others who might have a temporary need for them, primarily technology and appliances. For example, if your laptop breaks and it will take a week to get repaired, you can rent someone's spare laptop for a week. Users can also post requests for an item if they do not see any vendors offering what they need at that time.
.</p>

      </div>
      <!-- Grid column -->
      
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3" id="col2">
        <!-- Links -->
        <p class="text-uppercase">Authors</p>

        <ul class="list-unstyled">
          <li>
            <p>Yue Pan</p>
          </li>
          <li>
            <p>Tim Leonard</p>
          </li>
          <li>
            <p>Haritha Pothapragda</p>
          </li>
          <li>
            <p>Kah Soon Yap</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <p class="text-uppercase">Contact info</p>
            <p>New York, NY 10012, US</p>
            <p>info@example.com</p>
            <p>+1 8888888888</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/robertpanyue/Rent-App"> RentApp.com</a>
  </div>
  <!-- Copyright -->

</footer>

<!-- Footer -->
