<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">RentApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class=" nav navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div id="container" class="container">
  <div class="cloudinary-images text-center" id="cloudinary-images">
    <table class="cloudinary-table" id="cloudinary-table">
      <tr id="cloudinary-image-row"></tr>
      <tr id="x-button-row"></tr>
    </table>
  </div>

  <div class="text-center">
    <button id="upload_widget" class="cloudinary-button">Upload Images</button>
  </div>
</div>
</div>

<button class="btn btn-success" id = "done" ><a href="/">Finish Uploading</a></button><br/>